:root {
    --header-height: 80px;
    --max-width: 1536px;
    --primary-color: rgb(241, 12, 50);
    --secondary-color: #111;
    --account-boder: 1px solid black;
    --account-box-shadow: -5px 0 10px 0 black
}